# Diretórios
node_modules/
dist/
coverage/
.build/
.husky/
.vscode/
.idea/
*.log

# Arquivos específicos
*.min.js
*.min.css
package-lock.json
yarn.lock
pnpm-lock.yaml

# Configurações e builds
.env
.env.local
.env.development
.env.test
.env.production

# Documentação e miscelânea
**/*.md
**/*.txt
**/*.pdf

# Testes (se estiverem em uma pasta específica)
**/__tests__/__snapshots__/
**/*.test.js
**/*.spec.js

# TypeScript declarations
**/*.d.ts

# Arquivos de configuração de ferramentas
**/tsconfig.json
**/tsconfig.*.json
**/jest.config.js
**/webpack.config.js